.button {
  height: 2.8rem;
  width: auto;
  border-radius: 1rem;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
  border: transparent;
  background-color: cornflowerblue;
  margin: 0.5rem;
  padding: 0 2rem 0 2rem;
}

.button:hover,
.button:active {
  background-color: rgb(73, 136, 255);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.45);
}

.button:focus {
  outline: none;
}
